html {
  font-size: 62.5%;
  /* 追記 */
  height: 100%;
}

body {
  /* 追記,削除 */
  height: 100%;
}



.logged_in{
  text-align: center;
  vertical-align: middle;
}

.Fakebook{
  color: #fff;
}

.container1 {
  width: 100%;
  height: 10000px;
  background-color: skyblue
}

.header{
  background-color: #381cd6;
  height: 70px;
  font-size: 20px;    /* 文字サイズ指定 */
    color: blue;     /* 文字色指定 */
}

.sign_up{
  text-align: center;
  vertical-align: middle;
}

.article{
  background-color: skyblue;
  font-size: 20px;    /* 文字サイズ指定 */
    color: blue;     /* 文字色指定 */
}

.footer{
  background-color: #4D4D4D;
  position: fixed;
  bottom: 0;
  width: 95.3%;
  height: 100px;
}

.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
